<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>593199004615-3plffngkv603pqv7ngv9to98hmc2hb78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593199004615-3plffngkv603pqv7ngv9to98hmc2hb78</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ4TgREvhux3kvMRWiS08bB7inMyBEsqY</string>
	<key>GCM_SENDER_ID</key>
	<string>593199004615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.unisa.iosfoundation.trt2</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-86884</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-86884.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:593199004615:ios:6dc8cf4038fac6ac</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotification-86884.firebaseio.com</string>
</dict>
</plist>